<div class="collection collection1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex d-flex justify-content-center">
                <div class="collection1__product-item">
                    <div class="collection1__product-image"><img class="collection1__img-front"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7771_MH_468x.jpg?v=1641420873"
                            alt="placeholder"><img class="collection1__img-back"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7775_EH_468x.jpg?v=1641420873"
                            alt="placeholder"></div>
                    <div class="collection1__product-info"><small class="collection1__product-small">Front View</small>
                        <p class="collection1__product-title">title</p>
                        <p class="collection1__product-price">price</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="collection1__product-item">
                    <div class="collection1__product-image"><img class="collection1__img-front"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7771_MH_468x.jpg?v=1641420873"
                            alt="placeholder"><img class="collection1__img-back"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7775_EH_468x.jpg?v=1641420873"
                            alt="placeholder"></div>
                    <div class="collection1__product-info"><small class="collection1__product-small">Front View</small>
                        <p class="collection1__product-title">title</p>
                        <p class="collection1__product-price">price</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="collection1__product-item">
                    <div class="collection1__product-image"><img class="collection1__img-front"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7771_MH_468x.jpg?v=1641420873"
                            alt="placeholder"><img class="collection1__img-back"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7775_EH_468x.jpg?v=1641420873"
                            alt="placeholder"></div>
                    <div class="collection1__product-info"><small class="collection1__product-small">Front View</small>
                        <p class="collection1__product-title">title</p>
                        <p class="collection1__product-price">price</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="collection1__product-item">
                    <div class="collection1__product-image"><img class="collection1__img-front"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7771_MH_468x.jpg?v=1641420873"
                            alt="placeholder"><img class="collection1__img-back"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7775_EH_468x.jpg?v=1641420873"
                            alt="placeholder"></div>
                    <div class="collection1__product-info"><small class="collection1__product-small">Front View</small>
                        <p class="collection1__product-title">title</p>
                        <p class="collection1__product-price">price</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="collection1__product-item">
                    <div class="collection1__product-image"><img class="collection1__img-front"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7771_MH_468x.jpg?v=1641420873"
                            alt="placeholder"><img class="collection1__img-back"
                            src="https://cdn.shopify.com/s/files/1/0293/9277/products/12-30-21Studio2_SN_KP_10-37-23_30_DF043EP02_HotPink_7775_EH_468x.jpg?v=1641420873"
                            alt="placeholder"></div>
                    <div class="collection1__product-info"><small class="collection1__product-small">Front View</small>
                        <p class="collection1__product-title">title</p>
                        <p class="collection1__product-price">price</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


{% schema %} 

{% endschema %}